node_modules
**/node_modules
dist
**/dist
dist-docs
dist-storybook
storybook-static
Docs
.git
.pnpm-store
**/.pnpm-store
.output.txt
.eslintcache
.turbo
**/.turbo
coverage
**/coverage
.idea
.vscode
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*
!.env.example
