node_modules
**/node_modules/**
dist
**/dist/**
dist-storybook
**/dist-storybook/**
storybook-static
**/storybook-static/**
.pnpm-store
**/.pnpm-store/**
pnpm-lock.yaml
.output.txt
coverage
Docs
**/Docs/**
AGENTS.md
**/AGENTS.md
agents.md
**/agents.md
README.md
**/README.md
readme.md
**/readme.md
